<%= render 'navbar'%>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
      <div class="card my-5 shadow">
        <div class="card-body">
          <div class="row mt-8">
            <div class="col-9">
              <h2>Emplopyee History</h2><br>
            </div>
            <div class="row mt-4">
            <h5>
            <%= form_tag employee_history_path, method: :get do %>
              <% selected_project_id = params[:project_id].presence %>
              <%= select_tag :project_id, options_for_select(Project.all.map { |p| [p.project_name, p.id] }, selected_project_id), { include_blank: "Select project name", onchange: "this.form.submit();" } %>
              <%= submit_tag "Filter", style: "display: none;" %>
              <% end %></h5>
            </div>
            <table class="table">
              <thead class="thead-light">
                <tr>
                    <th>Employee ID</th>
                    <th>Employee Name</th>
                    <th>Project Name</th>
                </tr>
              </thead>
              <tbody>
                  <% @employees.each do |employee| %>
                      <tr>
                        <td><%= employee.id %></td>
                        <td><%= employee.name %></td>
                        <td><%= employee.projects.pluck(:project_name).join(', ') %></td>
                      </tr>
                  <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="pagination justify-content-center">
          <%= paginate @employees, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm", nav_class: "d-inline-b" %>
        </div>
      </div>  
    </div>
  </div>
</div>

